.HeaderMain {
    background-color: rgb(71, 70, 70);
    width: 100%;
    height: 100vh;
}
.headermain {
    padding: 150px 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.headermain-txt {
    margin-top: 50px;
    width: 480px;
}
.headermain-txt h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: rgb(190, 189, 189);
}
.txt-color {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
.contact-btn{
    margin-top: 20px;
    padding: 10px 40px;
    background:none;
    border: 1px solid rgb(184, 184, 92);
    color: rgb(184, 184, 92);
}
@media screen and (max-width:1000px) {
    .headermain {
        flex-direction: column;
        padding: 0px 20px;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .headermain-txt {
        width: 200px;
    }
    .headermain-txt h1 {
        font-size: 30px;
    }
    .headermain-img img {
        width: 100%;
    }
}
@media screen and (max-width: 720px) {
    .headermain-txt h1{
        margin-bottom: 20px;
    }
    .headermain-img{
        margin-top: 50px;
    }
}