.Portfolio {
    width: 100%;
    height: 100%;
    background-color: rgb(71, 70, 70);
}

.Portfolio h1 {
    margin: 0 auto;
    width: 220px;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.Portfolio h2 {
    padding: 20px;
    max-width: 1140px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 50px;
    color: #c9c7c7;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.portfolio_item_img {
    width: 300px;
}

.portfolio_item_img img {
    width: 100%;
}

.portfolio_block {
    /* padding: 20px; */
    max-width: 1140px;
    margin: 50px auto 0;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.portfolio_item {
    padding: 20px;
    margin-top: 20px;
}

.portfolio_item h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

@media screen and (max-width:680px) {
    .portfolio_block {
        justify-content: center;
    }
}

@media screen and (max-width:420px) {
    .portfolio_item_img {
        width: 200px;
    }
}