.modalopen {
    position: absolute;
    width: 100%;
    background: #2c2b2bbf;
    height: 89.6vh;
    z-index: 99;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 30%;
    left: 37%;
    transform: translate(-50% -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    color: #333;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:1000px) {
    .popup{
        left: 30%;
    }
    
}
@media screen and (max-width:720px) {
    .popup {
        left: 27%;
        width: 300px;
    }

}
@media screen and (max-width:720px) {
    .popup {
        left: 18%;
       
    }

}
@media screen and (max-width:400px) {
    .popup {
        left: 10%;
        width: 250px;
    }

}