.NavBar {
    background-color: #6b6b6b;
    width: 100%;
}

.nav {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 150px;
}

.nav-logo img {
    width: 100%;
}

.burger-menu {
    display: none;
    padding: 0 20px 0 0;
}

.burger-menu svg {

    font-size: 30px;
    color: #ffffff;
}

.open {
    display: flex;

}

.open li {
    list-style: none;
}

.open li a {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

.open li a::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.open li a:hover::after {
    transform: scaleX(1);
}

@media screen and (max-width:800px) {
    .burger-menu {
        display: block;
    }

    .open {
        display: none;
    }

    .opennav {
        text-align: center;
        margin-top: 400px;
        height: 300px;
        width: 100%;
        display: block;
        position: absolute;
        background: #5c5b5b;
        z-index: 3;
    }

    .opennav li {
        margin: 20px 0;
        font-size: 30px;
    }
}